html{
background: #ff9966;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ff9966, #ff5e62);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ff9966, #ff5e62); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
height: 100%;
}

h1{
font-size: 30px;
text-align: center;
color: ##B3001B
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {

}

.DaFooter{
font-size: 10px;
text-align: right;
}
